body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  width: 320px;
  max-width: 90vw;
}

.input, .output {
  font-size: 16px;
  padding: 8px;
}

.slider {
  margin: 32px 0;
}

.output {
  background: #EEEEEE;
  font-size: 16px;
  height: 128px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
